.show-nav {
  right: 0;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px); }

body {
  margin: 0;
  background-color: #BCBDAC;
  color: #3B2D38;
  overflow-x: hidden; }
  body .canvas .wrapper {
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1; }
    body .canvas .wrapper .left-col {
      text-align: center;
      box-sizing: border-box;
      background: #3B2D38;
      color: #BCBDAC;
      padding: 3%;
      position: fixed;
      top: 0;
      bottom: 0; }
      body .canvas .wrapper .left-col h1 {
        font-size: 5.8em;
        color: #F27435; }
      body .canvas .wrapper .left-col .profile {
        border-radius: 200px;
        border: 2px solid #F27435; }
      body .canvas .wrapper .left-col .menu {
        background: #3B2D38;
        color: #F27435;
        border: 1px solid #F27435;
        font-size: 1.8em;
        float: left;
        border-radius: 12%;
        z-index: 1; }
    body .canvas .wrapper .right-col {
      box-sizing: border-box;
      margin-left: 40%; }
      body .canvas .wrapper .right-col .content {
        padding: 3%; }
  body .canvas .navigation {
    background: #3B2D38;
    color: #F27435;
    width: 200px;
    position: fixed;
    top: 0;
    height: 100%;
    right: -200px;
    z-index: 0; }
    body .canvas .navigation .close-menu {
      background: #3B2D38;
      color: #F27435;
      border: 1px solid #F27435;
      font-size: 1.8em;
      border-radius: 12%; }
    body .canvas .navigation ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      body .canvas .navigation ul li {
        display: block;
        border: 0;
        border-bottom: 1px solid #BCBDAC;
        width: 100%;
        text-align: center;
        padding: 10% 0; }

@media screen and (max-width: 720px) {
  body .canvas .wrapper .left-col {
    display: none; }
  body .canvas .wrapper .right-col {
    margin-left: 0; } }

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
  font-family: 'Ubuntu', sans-serif; }
